@model HomeCreateVM;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="Form" method="post">
    <br />
    <div class="form-inline">
        <label>Base path: </label>
        <input value="@Model.BasePath" asp-for="BasePath" placeholder="Base path:" class="form-control" />
        <input asp-action="ChangeBasePath" type="submit" name="button" value="Change Base Path" class="btn btn-info"> <br />
    </div>
    <span asp-validation-for="BasePath" class="text-danger"></span> <br />
    <div class="form-inline">
        <label>Owner: </label>
        <select asp-for="SelectedOwnerName" asp-items="@(new SelectList(Model.OwnersList,"Name","Name"))" onchange="DoPostBack();" class="form-control"></select>
        <label id="QualityFolder">Quality folder: </label>
        <select asp-for="SelectedFolder" asp-items="@(new SelectList(Model.FolderList))" class="form-control" ></select> <br />
    </div>
    <br />
    <button asp-action="SelectFiles" type="submit" class="btn btn-info">Select Files</button>
    <input asp-action="Run" type="submit" value="Run" class="btn btn-info" />
</form>

@foreach(var log in Model.Logs)
{
    <div>@log</div>
}

<script>
    if (@Model.FolderList.Count() === 0) {
        let sf = document.getElementById("SelectedFolder");
        let qf = document.getElementById("QualityFolder");
        sf.style.display = "none";
        qf.style.display = "none";
    }
    function DoPostBack() {
        document.Form.action = "/home/GetFolders";
        document.Form.submit();    
    }
</script>