@model HomeCreateVM;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form style="margin:10px" name="Form" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col-lg-3">
            <label>Base path: </label>
            <input value="@Model.BasePath" asp-for="BasePath" placeholder="Base path:" class="form-control" />
        </div>
        <div class="col-lg-2">
            <input asp-action="ChangeBasePath" style="margin-top:32px" id="ChangeBasePath" type="submit" name="button" value="Change Base Path" class="btn btn-info"> <br />
        </div>
    </div>
    <span asp-validation-for="BasePath" class="text-danger"></span> <br />
    <div class="form-row">
        <div class="form-group col-lg-3">
            <label>Owner: </label>
            <select asp-for="SelectedOwnerName" asp-items="@(new SelectList(Model.OwnersList,"Name","Name"))" onchange="DoPostBack();" class="form-control"></select>
        </div>
        <div style="margin-left:5px" class="form-group">
            <label id="QualityFolder">Quality folder: </label>
            <select asp-for="SelectedFolder" asp-items="@(new SelectList(Model.FolderList))" class="form-control"></select> 
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-3">
            <label>Starting files: </label>
            <input asp-for="Files" type="file" accept=".jpg,.xml,.xlsx,.srt" multiple class="form-control" style="height:auto" />
        </div>
        <div class="col-lg-2">
            <button asp-action="CopyFiles" style="margin-top:34px" id="CopyFiles" type="submit" class="btn btn-info">Copy Files</button> 
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-3">
            <button asp-action="ResetAppConfig" id="ResetConfig" type="submit" class="btn btn-danger">Reset Config</button>
            <button asp-action="Create" class="btn btn-danger">Reset</button>
            <input asp-action="Run" id="Run" type="submit" value="Run" class="btn btn-success" />
        </div>
    </div>
</form>

<br />
@foreach (var log in Model.Logs)
{
    <div style="margin-left:10px">@log</div>
}

<script>
    if (@((!Model.SelectedOwner.FolderPathPairs.Keys.Contains("SourceFolder")).ToString().ToLower())) {
        document.getElementById("Files").disabled = true;
    }
    if (@Model.FolderList.Count() <2) {
        let sf = document.getElementById("SelectedFolder");
        sf.disabled = true;
    }
    if (@Model.SelectFilesBtnClicked.ToString().ToLower()) {
        document.getElementById("BasePath").disabled = true;
        document.getElementById("ChangeBasePath").disabled = true;
        document.getElementById("SelectedOwnerName").disabled = true;
        document.getElementById("SelectedFolder").disabled = true;
        document.getElementById("CopyFiles").disabled = true;
        document.getElementById("Files").disabled = true
    }
    else {
        document.getElementById("Run").disabled = true;
    }
    function DoPostBack() {
        document.Form.action = "/home/GetFolders";
        document.Form.submit();
    }
</script>